.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  justify-content: space-between;
  padding-bottom: 30px;
}
  
.two-columns__paragraph:nth-last-child(1) {
  padding-bottom: 0;
}