h1, h2, h3 {
  font-weight: normal;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  /* выше установили ограничения для секции */
}

.margin-top {
  margin-top: 100px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.auto-margin {
  margin: auto
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.block-centering {
  justify-content: center;
}

.aligning-center {
  align-items: center;
}

.absolute-header {
  position: absolute;
}

.zero-position {
  bottom: 0;
  right: 0
}

.digits__margin-bottom {
  margin-bottom: 20px;
}

.kaufman__margin-top {
  margin-top: 90px;
}

.logo {
  width: 183px;
  height: 32px;
  display: flex;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin: 0;
  padding: 0 0 0 64px;
  z-index: 2;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
  align-self: center;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__link:hover {
  background-color: #2f80ed ;
  transition: 1s;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.content {
  margin-top: 100px;
}

.description {
 display: flex;
 justify-content: center;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  justify-content: space-between;
  padding-bottom: 30px;
}

.two-columns__paragraph:nth-child(3) {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 100px 0 0;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__cell {
  width: 250px;
  align-items: center;
  margin-top: 60px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}



.feynman {
  margin: 100px 0 0;
  min-height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background: url(../images/feynman.png) no-repeat bottom left;
}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  
}

.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  top: 50%;
  right: 48px;
  color: #000;
}

.feynman__link:hover {
  background-color: #2f80ed;
  transition: 1s;
}

.kaufman {
  background-color: #1f1f1f;
  outline: 1px solid #f2f2f2;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.kaufman__margin-bottom {
  margin-bottom: 90px;
}

.kaufman-outline {
  position: relative;
  outline: 1px solid #f2f2f2;
  z-index: 3;
}

.section-title_theme_dark {
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0; 
  right: -210px;
}

.footer {
  outline: 1px solid #f2f2f2;
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer_paddings {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  width: 90%;
  min-height: 250px;
  margin: auto;
  position: relative;
}

.footer__inner-borders {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.footer__column_content-copyright {
  width: 50%;
}

.logo_place-footer {
  background-image: url(/images/logo_place_footer.svg);
  width: 182px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  position: absolute;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column_content-info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__column-links_text {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin: 20px 0 16px;
  list-style: none;
  padding: 0;
  position: relative;
}

.footer__social-icon_text {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  
}

.pic {
  top: 50%;
  margin-right: 10px;
}